{% extends 'money_calc/layout.html' %}

{% block title %}Расходы{% endblock %}

{% block content %}

{% if latest_expenses_list %}

<div class="container">
    <div class="row">

        {% for expense in latest_expenses_list %}

        <div class="col-md-12 order">

            <div class="col-md-3 field">{{ expense.expense }}</div>
            <div class="col-md-2 field">{{ expense.cost }}₽</div>
            <div class="col-md-2 field">{{ expense.data_expense }}</div>
            <a href="{% url 'expenses-expense' expense.id %}"><div class="col-md-2 text-btn">Посмотреть трату {{ expense.id }}</div></a>

        </div>

    {% endfor %}

{% else %}
    <p>No expenses are available.</p>
{% endif %}

    </div>
</div>

{% endblock %}