{% extends 'money_calc/layout.html' %}

{% block title %}Обновление траты{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 main-info">
            <h1>Форма для обновления траты</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.expense }}
                {{ form.cost }}
                {{ form.data_expense }}
                <span>{{ error }}</span>
                <button class="btn btn-success" type="submit">Обновить трату</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
