{% extends 'money_calc/layout.html' %}

{% block title %}Обновление заказчика{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 main-info">
            <h1>Форма для обновления заказчика</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.agent_name }}
                {{ form.agent_phone }}
                {{ form.order }}
                <span>{{ error }}</span>
                <button class="btn btn-success" type="submit">Обновить заказчика</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
